//Button-colors: 
$button: #3e6663; 
$button-hover: #528884; 

// Background: 
$background-light: rgba(0,0,0,0.2); 
$darker-background: #e1eaee;

// Highlight
$blue: rgb(147, 207, 207);
$pink: rgb(218, 156, 177); 
$light-blue: #e3f0f0;





$background-color: blue; 

// Text color: 
$text-color: #3e6663;
$blueish: rgb(136, 214, 214);

// Font: 
$font-family: 'Playfair Display', serif;

// Header-Link Background color: 
$link-color: #e3f0f0;

// Header-Link:hover Background color: 
$link-hover: #528884; 

// Redirect-Link Color: 
$redir-color: #cc8a3c;

$pinkish: rgb(233, 138, 153); 